go 1.19

use (
	./
	./controllers/files
	./controllers/relations
	./controllers/tweets
	./controllers/users
	./db
	./db/relations
	./db/tweets
	./db/users
	./handlers
	./helpers
	./jwt
	./middlewares
	./models
	./models/response
	./models/result
	./routes/relations
	./routes/tweets
	./routes/users
)
