go 1.19

use (
	./
	./controllers/files
	./controllers/relations
	./controllers/tweets
	./controllers/users
	./db
	./db/nosql
	./db/nosqlv2
	./db/relational
	./handlers
	./helpers
	./jwt
	./middlewares
	./models
	./models/nosql
	./models/nosqlv2
	./models/relational
	./models/request
	./models/response
	./routes/relations
	./routes/tweets
	./routes/users
)
