go 1.19

use (
	./
	./controllers/tweets
	./controllers/users
	./db
	./db/tweets
	./db/users
	./handlers
	./helpers
	./jwt
	./middlewares
	./models
	./models/response
	./routes/tweets
	./routes/users
)
